<div class="modal fade" id="import_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import Form File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <a href="{% url 'download_example_import_customer_file' %}" style="font-size: 10px;">Click here for download example file</a><br><br>
        <form id="import_excel_form">
          {% csrf_token %}
          <input id="import_file_input" name="import_file" type="file" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><b>Close</b></button>
        <button type="button" class="btn btn-primary" onclick="$('#import_excel_form').submit();"><b>Upload</b></button>
      </div>
    </div>
  </div>
</div>

<script>
  $("#import_excel_form").on('submit', function(e){
    e.preventDefault();
    loading_screen(true);
    
    var form_data = new FormData(this);
    $.ajax({
      type: 'POST',
      url: "{% url 'import_mpic_customer_imp_cms' %}",
      data: form_data,
      cache: false,
      contentType: false,
      processData: false,
      success: function(response){
        if(response.msg == 'success'){
          let uuid = "";
          for(let i=0; i<response.new_tbl_mpic_customer_imp_ax_dicts.length; i++){
            uuid = createUUID();
            add_new_empty_row_to_customer_table_without_start_modal(uuid);
            $("#custcode"+uuid).text(response.new_tbl_mpic_customer_imp_ax_dicts[i].custcode).change();
            $("#custname"+uuid).text(response.new_tbl_mpic_customer_imp_ax_dicts[i].custname).change();
            $("#custaddress"+uuid).text(response.new_tbl_mpic_customer_imp_ax_dicts[i].custaddress).change();
            $("#custgroup"+uuid).text(response.new_tbl_mpic_customer_imp_ax_dicts[i].custgroup).change();
            $("#postprofile"+uuid).text(response.new_tbl_mpic_customer_imp_ax_dicts[i].postprofile).change();
            $("#site"+uuid).text(response.new_tbl_mpic_customer_imp_ax_dicts[i].site).change();
            $("#warehouse"+uuid).text(response.new_tbl_mpic_customer_imp_ax_dicts[i].warehouse).change();
            $("#buax"+uuid).text(response.new_tbl_mpic_customer_imp_ax_dicts[i].buax).change();
            $("#divax"+uuid).text(response.new_tbl_mpic_customer_imp_ax_dicts[i].divax).change();
            $("#locax"+uuid).text(response.new_tbl_mpic_customer_imp_ax_dicts[i].locax).change();
            $("#intercocd"+uuid).text(response.new_tbl_mpic_customer_imp_ax_dicts[i].intercocd).change();
            $("#custmapping"+uuid).text(response.new_tbl_mpic_customer_imp_ax_dicts[i].custmapping).change();
            $("#amend_date"+uuid).text(response.new_tbl_mpic_customer_imp_ax_dicts[i].amend_date).change();
            $("#amend_by"+uuid).text(response.new_tbl_mpic_customer_imp_ax_dicts[i].amend_by).change();
            
            $("#tbl_id_container"+uuid).text(response.new_tbl_mpic_customer_imp_ax_dicts[i].tbl_id);
          }
        }
        else{
          set_alert_status_msg(response.msg);
          $("#alert_modal").modal('show');
        }
        loading_screen(false);
      },
      error: function(){
        $("body").html("<h1>Oops! Something went wrong. Please try again later.</h1>");
        loading_screen(false);
      }
    });
    $("#import_modal").modal('hide');
    $("#import_file_input").val('');
  });
</script>